doctype html
html(lang="en")
  head
    title = "First app"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/onClick.js")       
    script(src="/javascripts/drowTable.js")  
  body
    
    h1 Создаю первое приложение

    h2 Первая часть, записываю данные в БД

    #content
      p.description В форму ниже вводим имя, возраст и город.
    p Работает вариант с вводом через POST:
    p
      | Name: 
      input(type='text', name='Name', id="Name", value='')
    p  
      |          Age: 
      input(type='text', name='Age', id="Age", value='')
    p  
      |          City: 
      input(type='text', name='City', id="City", value='')
    button(type="button"  id="postdb" alt="clickMe" onclick="onClick()" ) Отправить в БД
   

  
    p Работает вариант с вводом через GET:
        
  form(method=GET action='/first/addget')
    input(name='Name' placeholder='Name')
    input(name='Age' placeholder='Age')
    input(name='City' placeholder='City')
    input(type='submit' value='Передать')

p.
  Вторая часть. Нажимаю на кнопку и рисую из базы данных таблицу 

button(type="button"  id="TableCreate" alt="clickMe" onclick="drowTable()" ) Показать таблицу

p
table(id="Table")
  tr
    th Id
    th Name
    th Age
    th City
  
		
h2 Меню

ul#menu
    li: a(href="/", title="Home") Home
    li: a(href="/first", title="First") First app    



