doctype html
html
  head
    title = "First app"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/onClick.js")       
    script(src="/javascripts/drawTable.js")  
  body
    block content
